In [5]:
import pandas as pd
import requests

In [54]:
data=requests.get('https://raw.githubusercontent.com/sondosaabed/Palestinian-Movies-JSON-Dataset/main/palestinian_movies.json')

In [80]:
df=pd.DataFrame(data.json()['movies'])
df.head()

,titleText,id,primaryImage,releaseDate,plot
0,{'text': 'Curfew'},tt0109996,"{'id': 'rm777481472', 'width': 315, 'height': ...","{'day': 5, 'month': 12, 'year': 1994, 'country...",{'plotText': {'plainText': '24 hours of family...
1,{'text': 'Hikayatul jawahiri thalath'},tt0111354,"{'id': 'rm4037123328', 'width': 284, 'height':...","{'day': 6, 'month': 12, 'year': 1995, 'country...",{'plotText': {'plainText': 'A Palestinian boy ...
2,{'text': 'Giraffada'},tt3132086,"{'id': 'rm2021999616', 'width': 950, 'height':...","{'day': 23, 'month': 4, 'year': 2014, 'country...",{'plotText': {'plainText': 'A male giraffe die...
3,{'text': 'Gaza mon amour'},tt11692148,"{'id': 'rm2123225857', 'width': 1080, 'height'...","{'day': 5, 'month': 11, 'year': 2021, 'country...","{'plotText': {'plainText': 'Gaza, today. Sixty..."
4,{'text': 'Farha'},tt11555492,"{'id': 'rm2816411393', 'width': 4000, 'height'...","{'day': 1, 'month': 12, 'year': 2022, 'country...",{'plotText': {'plainText': 'A 14-year-old girl...

In [84]:
df=[]

In [88]:
df_list = []

# Your loop was using `range(1,)` which means it runs 0 times. Use `range(1)` if you want to run once.
for i in range(1):
    # The URL does not need formatting with `i`, so we remove `.format(i)`
    response = requests.get('https://raw.githubusercontent.com/sondosaabed/Palestinian-Movies-JSON-Dataset/main/palestinian_movies.json')
    temp_df = pd.DataFrame(response.json()['movies'])
    df_list.append(temp_df)

# Combine all collected DataFrames
df = pd.concat(df_list, ignore_index=True)

# Show the first few rows
print(df.head())

                                titleText          id  \
0                      {'text': 'Curfew'}   tt0109996
1  {'text': 'Hikayatul jawahiri thalath'}   tt0111354
2                   {'text': 'Giraffada'}   tt3132086
3              {'text': 'Gaza mon amour'}  tt11692148
4                       {'text': 'Farha'}  tt11555492

                                        primaryImage  \
0  {'id': 'rm777481472', 'width': 315, 'height': ...
1  {'id': 'rm4037123328', 'width': 284, 'height':...
2  {'id': 'rm2021999616', 'width': 950, 'height':...
3  {'id': 'rm2123225857', 'width': 1080, 'height'...
4  {'id': 'rm2816411393', 'width': 4000, 'height'...

                                         releaseDate  \
0  {'day': 5, 'month': 12, 'year': 1994, 'country...
1  {'day': 6, 'month': 12, 'year': 1995, 'country...
2  {'day': 23, 'month': 4, 'year': 2014, 'country...
3  {'day': 5, 'month': 11, 'year': 2021, 'country...
4  {'day': 1, 'month': 12, 'year': 2022, 'country...

                                                plot
0  {'plotText': {'plainText': '24 hours of family...
1  {'plotText': {'plainText': 'A Palestinian boy ...
2  {'plotText': {'plainText': 'A male giraffe die...
3  {'plotText': {'plainText': 'Gaza, today. Sixty...
4  {'plotText': {'plainText': 'A 14-year-old girl...

In [90]:
df

,titleText,id,primaryImage,releaseDate,plot
0,{'text': 'Curfew'},tt0109996,"{'id': 'rm777481472', 'width': 315, 'height': ...","{'day': 5, 'month': 12, 'year': 1994, 'country...",{'plotText': {'plainText': '24 hours of family...
1,{'text': 'Hikayatul jawahiri thalath'},tt0111354,"{'id': 'rm4037123328', 'width': 284, 'height':...","{'day': 6, 'month': 12, 'year': 1995, 'country...",{'plotText': {'plainText': 'A Palestinian boy ...
2,{'text': 'Giraffada'},tt3132086,"{'id': 'rm2021999616', 'width': 950, 'height':...","{'day': 23, 'month': 4, 'year': 2014, 'country...",{'plotText': {'plainText': 'A male giraffe die...
3,{'text': 'Gaza mon amour'},tt11692148,"{'id': 'rm2123225857', 'width': 1080, 'height'...","{'day': 5, 'month': 11, 'year': 2021, 'country...","{'plotText': {'plainText': 'Gaza, today. Sixty..."
4,{'text': 'Farha'},tt11555492,"{'id': 'rm2816411393', 'width': 4000, 'height'...","{'day': 1, 'month': 12, 'year': 2022, 'country...",{'plotText': {'plainText': 'A 14-year-old girl...
5,{'text': 'Eyes of a Thief'},tt2993406,"{'id': 'rm22085376', 'width': 814, 'height': 1...","{'day': 1, 'month': 10, 'year': 2014, 'country...",{'plotText': {'plainText': 'A father with a da...
6,{'text': 'Habibi Rasak Kharban'},tt1670646,"{'id': 'rm1752743424', 'width': 3995, 'height'...","{'day': 15, 'month': 5, 'year': 2012, 'country...",{'plotText': {'plainText': ''Habibi Rasak Khar...
7,{'text': 'Falastine Stereo'},tt3121066,"{'id': 'rm2102016000', 'width': 630, 'height':...","{'day': 2, 'month': 6, 'year': 2014, 'country'...",{'plotText': {'plainText': 'Two Palestinian br...
8,{'text': 'Chronicle of a Disappearance'},tt0115895,"{'id': 'rm2871237888', 'width': 344, 'height':...","{'day': None, 'month': None, 'year': 1996, 'co...",{'plotText': {'plainText': 'A Palestinian expa...
9,{'text': 'Laila's Birthday'},tt1281951,"{'id': 'rm3684775681', 'width': 560, 'height':...","{'day': 9, 'month': 4, 'year': 2009, 'country'...",{'plotText': {'plainText': 'Abu Laila used to ...
10,{'text': 'Lemon Tree'},tt1172963,"{'id': 'rm3732179712', 'width': 260, 'height':...","{'day': 27, 'month': 3, 'year': 2008, 'country...",{'plotText': {'plainText': 'The story of a Pal...
11,{'text': 'Degrade'},tt4429074,"{'id': 'rm1215045120', 'width': 736, 'height':...","{'day': 27, 'month': 4, 'year': 2016, 'country...","{'plotText': {'plainText': 'In Gaza, two haird..."
12,{'text': 'Bethlehem'},tt2915160,"{'id': 'rm1833487360', 'width': 4015, 'height'...","{'day': 26, 'month': 9, 'year': 2013, 'country...",{'plotText': {'plainText': 'Tells the story of...
13,{'text': 'Bonboné'},tt7083868,"{'id': 'rm62413312', 'width': 8100, 'height': ...","{'day': 4, 'month': 10, 'year': 2017, 'country...",{'plotText': {'plainText': 'A Palestinian coup...
14,{'text': 'Between Heaven and Earth'},tt10111746,"{'id': 'rm232360193', 'width': 1080, 'height':...","{'day': 2, 'month': 12, 'year': 2020, 'country...",{'plotText': {'plainText': 'Two married young ...
15,{'text': 'In Between'},tt5974388,"{'id': 'rm3107544832', 'width': 1611, 'height'...","{'day': 5, 'month': 1, 'year': 2017, 'country'...",{'plotText': {'plainText': 'Three Palestinian ...
16,{'text': 'Bab el shams'},tt0406551,"{'id': 'rm3200061184', 'width': 350, 'height':...","{'day': 19, 'month': 1, 'year': 2005, 'country...",{'plotText': {'plainText': 'In the beginning w...
17,{'text': 'Al-mor wa al rumman'},tt1320282,"{'id': 'rm850923776', 'width': 517, 'height': ...","{'day': None, 'month': 2, 'year': 2009, 'count...",{'plotText': {'plainText': 'A free spirited Pa...
18,{'text': 'The Present'},tt11474480,"{'id': 'rm92910337', 'width': 2305, 'height': ...","{'day': 18, 'month': 3, 'year': 2021, 'country...",{'plotText': {'plainText': 'On his wedding ann...
19,"{'text': 'Love, Theft and Other Entanglements'}",tt4253322,"{'id': 'rm1309341184', 'width': 467, 'height':...","{'day': 26, 'month': 5, 'year': 2016, 'country...",{'plotText': {'plainText': 'A Palestinian car ...
20,{'text': 'Al-Nakba'},tt3850118,"{'id': 'rm261240833', 'width': 1114, 'height':...","{'day': None, 'month': None, 'year': 2008, 'co...",{'plotText': {'plainText': 'The ethnic cleansi...
21,{'text': '1948 Palestinian Exodus'},tt0163518,"{'id': 'rm2382833664', 'width': 229, 'height':...","{'day': None, 'month': None, 'year': 1997, 'co...",{'plotText': {'plainText': 'The film presents ...
22,{'text': 'The Sons of Eilaboun'},tt1249418,"{'id': 'rm1201834496', 'width': 300, 'height':...","{'day': 28, 'month': 9, 'year': 2007, 'country...",{'plotText': {'plainText': 'A documentary film...
23,{'text': 'Stealing a Nation'},tt0803890,"{'id': 'rm3879343872', 'width': 447, 'height':...","{'day': 31, 'month': 7, 'year': 2004, 'country...",{'plotText': {'plainText': 'This tells a story...
24,{'text': 'With God on our Side'},tt1766204,"{'id': 'rm425839360', 'width': 375, 'height': ...","{'day': 8, 'month': 4, 'year': 2010, 'country'...",{'plotText': {'plainText': 'The minute ur past...
25,{'text': 'Tears of Gaza'},tt1699705,"{'id': 'rm1780282624', 'width': 375, 'height':...","{'day': 21, 'month': 12, 'year': 2012, 'countr...","{'plotText': {'plainText': 'In a rough style, ..."
26,{'text': 'Occupation 101'},tt0807956,"{'id': 'rm3486488320', 'width': 548, 'height':...","{'day': 15, 'month': 5, 'year': 2007, 'country...",{'plotText': {'plainText': 'A thought-provokin...
27,{'text': 'Life in Occupied Palestine: Eyewitne...,tt16749956,"{'id': 'rm2157044225', 'width': 650, 'height':...","{'day': None, 'month': None, 'year': 1997, 'co...","{'plotText': {'plainText': 'Anna Baltzer, the ..."
28,{'text': 'Gaza Fights for Freedom'},tt10825504,"{'id': 'rm139035905', 'width': 544, 'height': ...","{'day': 20, 'month': 6, 'year': 2019, 'country...",{'plotText': {'plainText': 'Filmed during the ...
29,{'text': 'Killing Gaza'},tt8438864,"{'id': 'rm1822737921', 'width': 707, 'height':...","{'day': 13, 'month': 5, 'year': 2018, 'country...","{'plotText': {'plainText': 'In Killing Gaza, i..."
30,{'text': 'The Oslo Diaries'},tt7689940,"{'id': 'rm724587264', 'width': 1012, 'height':...","{'day': None, 'month': 1, 'year': 2018, 'count...",{'plotText': {'plainText': 'A group of Israeli...
31,{'text': 'Born in Gaza'},tt4205416,"{'id': 'rm2398001665', 'width': 426, 'height':...","{'day': 16, 'month': 5, 'year': 2019, 'country...",{'plotText': {'plainText': 'Filmed shortly aft...
32,{'text': 'Eyes of a Thief'},tt2993406,"{'id': 'rm22085376', 'width': 814, 'height': 1...","{'day': 1, 'month': 10, 'year': 2014, 'country...",{'plotText': {'plainText': 'A father with a da...
33,{'text': 'Ghost Hunting'},tt6568868,"{'id': 'rm2696885760', 'width': 800, 'height':...","{'day': 13, 'month': 10, 'year': 2021, 'countr...",{'plotText': {'plainText': 'Some Palestinians ...
34,{'text': 'Hikayatul jawahiri thalath'},tt0111354,"{'id': 'rm4037123328', 'width': 284, 'height':...","{'day': 6, 'month': 12, 'year': 1995, 'country...",{'plotText': {'plainText': 'A Palestinian boy ...
35,{'text': 'Promises'},tt0282864,"{'id': 'rm2189663488', 'width': 352, 'height':...","{'day': 20, 'month': 12, 'year': 2001, 'countr...",{'plotText': {'plainText': 'Several Jewish and...
36,{'text': 'Gaza mon amour'},tt11692148,"{'id': 'rm2123225857', 'width': 1080, 'height'...","{'day': 5, 'month': 11, 'year': 2021, 'country...","{'plotText': {'plainText': 'Gaza, today. Sixty..."
37,{'text': 'Ambulance'},tt6141880,"{'id': 'rm448135936', 'width': 1786, 'height':...","{'day': 7, 'month': 6, 'year': 2017, 'country'...",{'plotText': {'plainText': 'During the summer ...
38,{'text': 'To See If I'm Smiling'},tt1112866,"{'id': 'rm3591978752', 'width': 245, 'height':...","{'day': None, 'month': None, 'year': 2007, 'co...",{'plotText': {'plainText': 'Six Israeli soldie...
39,{'text': 'The Settlers'},tt5278914,"{'id': 'rm556085760', 'width': 2013, 'height':...","{'day': 16, 'month': 6, 'year': 2016, 'country...",{'plotText': {'plainText': 'An intimate look a...

In [94]:
df.shape

(40, 5)

In [96]:
df.to_csv('movies.csv')